<!DOCTYPE html>
<html lang="nl"> <!-- Taal ingesteld op Nederlands -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap">

    <style>
        body {
            background-color: #212529;
            color: #fff;
            font-family: 'Lexend', sans-serif;
            /* Lexend als het gewenste lettertype */
        }
    </style>
</head>

<body class="bg-dark text-white d-flex align-items-center justify-content-center" style="height: 100vh;">
    <!-- Bootstrap flexbox klassen gebruikt om te centreren -->
    <div class="container text-center">
        <h1>Leaderboard</h1>

        <table class="table table-dark table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">PLEK</th>
                    <th scope="col">USERNAME</th>
                    <th scope="col">PUNTEN</th>
                    <th scope="col">WOORDEN GERADEN</th>
                    <th scope="col">TOTAAL</th>
                </tr>
            </thead>
            <tbody>
                <% data.users.forEach((userObj, index) => { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= userObj.user_fetch.user.username %>
                        </td>
                        <td>
                            <%= userObj.user.punten %>
                        </td>
                        <td>
                            <%= userObj.user.woordenGeraden %>
                        </td>
                        <td>
                            <%= userObj.user.punten + userObj.user.woordenGeraden %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    </div>
</body>

</html>